[2018-10-25 05:01] ZhangHanDong opened #4 "whether rust client is available in working_on_pd branch ?"
whether rust client is available in working_on_pd branch ?

[2018-10-25 06:05] sunxiaoguang commented on #4
It's in very early stage. Only has some PD related code from TiKV. There is a public_api_rfc branch for people to comment on the public API design though.

[2018-11-02 15:33] #4 closed

[2018-11-19 18:38] Hoverbear opened #9 "Is `ColumnFamily::default()` reasonable?"
In `raw::Client` based requests there is an optional `cf(...)` value. Most requests contain a `Option<ColumnFamily>`. Since by default requests should be for the default `ColumnFamily` we may be able to `impl Default for ColumnFamily` and only hold a `ColumnFamily` instead.

[2018-11-21 15:53] rohitjoshi opened #11 "Question: Converting &[u8] to Key"
Most of the existing key-val interface take key/val as &[u8] or &str.  how do I convert to Key/Val without cloning the data?

[2018-11-22 00:40] sunxiaoguang commented on #11
Please take a look at the [WIP PR](https://github.com/tikv/client-rust/pull/10). It introduced KeyRef and ValueRef to do so.
But to to make it clear, the cloning is **inevitable** as gRPC is going to copy or move all the arguments anyway. We want the interface looks similar to what you see in HashMap so we didn't follow the [rule in api guidenlines](https://rust-lang-nursery.github.io/api-guidelin

[2018-11-30 13:08] sticnarf opened #12 "Add into_inner function to Key, Value and KvPair"
It provides a way of getting the ownership of the inner Vec. It saves one clone when we need the ownership of the data.

An alternative is to implement `From<Key>` and  `From<Value>` for `Vec<u8>`. But I prefer the `into_inner` way.

By the way, is `[u8]` a better choice for the deref target of `Key` and `Value`? `[u8]` is just a more common deref target in the Rust world. `Vec` is ok but less com

[2018-12-03 00:42] sunxiaoguang commented on #12
I agree with you that the into_inner way is preferable. BTW: Did you mean From<Key> for Vec<u8>?
I also agree [u8] could be a better choice for Deref target. Let's see if there are more comments.

[2018-12-03 04:04] sticnarf commented on #12
Ah, yes, that's a mistake. Fixed now. Thanks.

[2019-01-11 00:24] Hoverbear opened #15 "Transactional API"
In #14 we enabled the Raw client, and scaffolded much of the code needed for the transactional client. This issue tracks the completion of the first release of the Transactional API.

In order to close this issue you'll need to replace all `unimplemented!()` in the `src/transaction.rs` file with working code. You can reference the `src/raw.rs` code to help with this, however transactions are quite

[2019-01-11 18:41] Hoverbear opened #16 "Examples with command line args"
In #14 we talked about adding command line parameters to the example so users can pass in their own PD addresses.

Use `clap` to do this, please only add it to `dev-dependencies`.

[2019-01-11 18:47] Hoverbear opened #17 "Command Line Tool"
This extends #16 in many ways.

This issue proposes we add a feature `command-line` which enables a binary (`src/bin/client.rs`) via the [`required-features`](https://doc.rust-lang.org/cargo/reference/manifest.html#the-required-features-field-optional) field of `[bin]`.

This binary would allow users to call, for example:

[code]

Closing this issue starts by [opening an RFC](https://github.com/ti

[2019-01-14 17:52] Hoverbear commented on #16
Thanks to @sticnarf for the great job on that PR. :)

[2019-01-14 17:52] #16 closed

[2019-01-14 20:01] #12 closed

[2019-01-14 20:01] Hoverbear commented on #9
Refactoring has made this obselete.

[2019-01-19 16:55] Kerollmops commented on #15
I would like to use this client but I will need the transaction API for that. Would it be possible to add some hints about where to find the current go transaction implementation if any?

I am currently [searching in the tidb repository with github](https://github.com/pingcap/tidb/search?p=4&q=Begin&unscoped_q=Begin) but it is hard to find anything interresting...

[2019-01-20 01:19] sunxiaoguang commented on #15
There is on going work to move TiKV client out of TiDB code base. [You can take a look at it.](https://github.com/tikv/client-go)

[2019-01-20 14:47] Kerollmops commented on #9
I have a little question about column families, is it / will it be possible to create a new column family with the Client?

[2019-01-20 14:50] sunxiaoguang commented on #9
It is not possible to use arbitrary column family at this time. TiKV prohibits column families that it knows, which are hard coded at this time. This may change in the future.

[2019-01-20 16:43] Kerollmops commented on #9
Ok, thank you!

So currently, a possible work around is to prefix every keys by the column-family name? This is not the job of this client, obviously.

[2019-01-21 00:58] Hoverbear opened #29 "In rpcclient the `raw_scan` requires bounds"
In #25 we found we are taking `Option<_>` for start, but it must be set. So we can make it always take a value instead.

This can be resolved by changing ` src/rpc/tikv/client.rs`'s `raw_scan` function to accept `end_key` as `Key` instead of `Option<Key>`

[2019-01-21 01:07] sticnarf commented on #29
Looking at the code in TiKV, I guess at least an empty end_key is supported? Not sure if a request without the start_key works.

[2019-01-21 01:18] Hoverbear commented on #29
Got overzealous, thanks. :)

[2019-01-21 16:14] Kerollmops commented on #15
Thank you for the link @sunxiaoguang but it doesn't show me how I can implement the transactional Rust client so I fallback on the previous links I posted.

Would it be possible to have some kind of mentoring?

I saw that the `transaction::Client::begin` method could follow [the steps of the Go client](https://github.com/pingcap/tidb/blob/63936cc1fa8dbfea793b90a0cf1d78312354a141/store/tikv/kv.go#L

[2019-01-22 00:42] sunxiaoguang commented on #15
Although we haven't reached final design of transactional API yet. You may find more about the internal implementation detail from [client-go](https://github.com/tikv/client-go). It involves many implementation details had is probably very hard to describe in couple of sentences. BTW: Maybe reading google percolator paper could help you a lot understanding TiKV's transaction model.

[2019-01-22 00:48] sunxiaoguang commented on #15
In case I didn't make it clear. The transactional part has lots of work at client side, it's probably different from what people normally think about implementing transactional api for relational databases. Although reading a paper sounds like too much, but I'm afraid that's probably the most efficient way to understand it.

[2019-01-30 00:20] brson commented on #15
Thanks @sunxiaoguang for the pointers.

cc @nrc here's some important work going on that might be notable to you.

[2019-02-14 17:59] Hoverbear opened #32 "Resolving blockers for publishing"
This crate is intended to be published to the Crates.io registry to support our users easily (and correctly) depending on this client.

It will also enable future `cargo install tikv-client` uses for our command line tool (#17).

The current blockers:

* [x] CI is red (fixed by #22 and #30)
* [x] No README (fixed by #31)
* [ ] KVproto is a git based dependency (this is a **hard** blocker for publi

[2019-02-20 17:03] florianeichin commented on #32
Is there a plan on when version 0.0.1 is released to crates, as the module is not usable as described in the readme

[2019-02-20 17:40] Hoverbear commented on #32
@florianeichin When the blockers listed above are resolve! :)

[2019-03-08 10:06] florianeichin opened #34 "Client failed to connect"
I try to use the client to connect to a tikv running in docker-compose and getting the following error.
`/home/user/.cargo/git/checkouts/client-rust-5a1ccd35a54db20f/3ab4f95/src/rpc/pd/leader.rs:433]: failed to connect to [name: "pd0" member_id: 2569432990168970607 peer_urls: "http://pd0:2380" client_urls: "http://pd0:2379"] }`

I don't exactly know if it's a bug or just wrong usage.
Am I missing

[2019-03-08 10:10] sunxiaoguang commented on #34
Can you try curl to http://pd0:2380 see if you can connect to it?

[2019-03-08 13:16] florianeichin commented on #34
from inside the tikv container I can ping `pd0` when calling curl `pd0:2380` I get `404 page not found`

[2019-03-08 13:20] sunxiaoguang commented on #34
Hm, just want to make sure, are you running your code inside docker as well? If you are code is running on host environment can you double check you can access http://pd0:2380 from there?

[2019-03-08 13:51] florianeichin commented on #34
Aaaah I understand, I thought i could reach the cluster through it's ip. how do I change this behaviour? so that I can access it only through IP to have only DB running in docker, but running the client in host?

[2019-03-08 13:59] sunxiaoguang commented on #34
The docker-compose file was probably not designed for client to access TiKV directly. I personally have never used it. Docker should be able to expose multiple ports or port ranges. In addition you also need to make sure the host pd0 can be resolved to an valid address from your host environment.

[2019-03-08 14:05] florianeichin commented on #34
thanks

[2019-03-08 14:05] #34 closed

[2019-03-12 17:42] Hoverbear opened #35 "Transaction Drop Behavior"
As part of #15, one question to consider is how to handle it when a transaction is dropped?

Transaction *should* have `#[must_use]` on it to create a warning for users who might accidentally drop it, but in the case of something like `let _ = client.begin()` we should consider if it is appropriate to just drop the memory. Should we attempt to rollback?

[2019-03-13 01:15] sunxiaoguang commented on #35
I think rollback is appropriate for this scenario. And that's what JDBC does.

[2019-03-20 00:23] c4pt0r opened #37 "Panicked when running example/raw.rs"
Output:

[code]

I think the problem is (in raw.rs):
[code]

Does `scan` in this case return the right border?

[2019-03-20 00:26] sunxiaoguang commented on #37
Hm, looks like inclusive range isn't implemented correctly.
Thanks for digging out this issue. I will try fixing this.

[2019-03-22 14:09] Snnappie opened #39 "Empty values in raw client"
I noticed the raw client considers it an error if you `put` (or `batch_put`) with an empty value. Is this required by tikv? And if not, can that restriction be removed from the client?

I have a need for writing empty values. I can work around this by just appending a `0x00` on every value, and stripping it out on read. But it would be nice to not have to do this.

[2019-04-10 23:48] c4pt0r commented on #37
@sunxiaoguang still opening?

[2019-05-02 01:59] nrc commented on #17
This is RFC 21: https://github.com/tikv/rfcs/pull/21

[2019-05-02 02:47] nrc commented on #29
@Hoverbear looks like this can be closed then?

[2019-05-06 20:46] Hoverbear commented on #39
Hmmm, I don't know if this is permitted by TiKV... @breeswish do you know?

[2019-05-06 20:46] #29 closed

[2019-05-06 20:47] Snnappie commented on #39
I dug through the TiKV code and think it isn't supported. I worked around it in my code, so we can close this. Thanks

[2019-05-06 20:47] #39 closed

[2019-05-06 21:24] ice1000 opened #43 "Using regular expression in `trim_start_matches`"
Can we use a regex here? Like `https?://`

https://github.com/tikv/client-rust/pull/40#discussion-diff-281319147R81

_Originally posted by @ice1000 in https://github.com/tikv/client-rust/pull/40_

[2019-05-13 07:02] tcp9 opened #46 "cargo build --example raw failed"
I just clone project, and use `cargo build --example raw` on master
output:
[code]

[2019-05-13 14:33] Snnappie opened #48 "`raw_batch_scan` unimplemented"
I have a hacky implementation on [this branch](https://github.com/Snnappie/client-rust/tree/snnappie-dev). It also changes the API from returning a flattened `Vec<KvPair>` to `Vec<Vec<KvPair>>` (which adds to the "hackiness" because TiKV returns it as a flattened vector).
This fit my particular use case better, but I'm not sure it is desirable in general.

Are there plans to implement this feature

[2019-05-17 06:40] tcp9 commented on #46
I see commit `0b965dd2cab4e6d66e64ebf7dbe542fb46030112` fix it

[2019-05-17 06:40] #46 closed

[2019-05-17 20:15] Hoverbear commented on #48
Hi! Yes, we'd love to merge this feature. Going through some review might also help improve the code's hackiness!

We do want to try to fit your use case, can you open an issue about it?

Do you think the PR could use a TiKV-faithful representation? :)

[2019-05-17 20:20] Hoverbear commented on #17
@sciamp-dev is working on this! Yay :)

[2019-05-23 02:52] hello2dj commented on #43
Use regex library?

[2019-05-23 03:00] hello2dj commented on #43
use regex library?

[2019-05-24 02:14] Hoverbear opened #53 "Microbenchmark Prost vs Rust-protobuf"
Maybe it can help us diagnose problems.

[2019-05-29 22:13] nrc opened #54 "Is the PdReactor's StreamingCallSink properly cancelled?"
In the futures 0.1 versionof the client, in `PdReactor::init` in src/rpc/pd/leader.rs, we called `sender.get_mut().get_ref().cancel()`. However, after migrating to futures 0.3 (https://github.com/tikv/client-rust/pull/41), we can't get mutable access to the underlying `StreamingCallSink` to call cancel. I think that the `StreamingCallSink` will be cancelled when `_sender` is dropped, but I could n

[2019-05-29 22:41] nrc opened #55 "Test with current nightly when Clippy is distributed"
We are currently locked to an older nightly so that we can run Clippy tests (in `.travis.yml`). We should unlock when Clippy is available again.

[2019-05-30 21:14] #37 closed

[2019-06-03 04:45] hello2dj commented on #43
see this pr: https://github.com/tikv/client-rust/pull/52

[2019-06-03 05:55] ice1000 commented on #43
Fixed in #52

[2019-06-03 05:55] #43 closed

[2019-06-03 20:41] nrc opened #61 "Key and Value should be coercible from &[u8]"
Since we can coerce from both `Vec<u8>` and `&str`. This will require some new `From` impls in kv.rs.

[2019-06-04 20:36] Hoverbear commented on #61
Notably, we only allow `&'static str` as it's commonly used in examples. We don't want to add more implicit copying than that! We did have some discussion about a possible `KeyRef` or `ValueRef` type though to avoid a copy.

[2019-06-04 20:45] nrc commented on #61
Yikes! I hadn't noticed that. That seems somewhat surprising. Maybe it is better to remove that and do something explicit in the examples (I agree that ideally we shouldn't do implicit allocation).

sgtm

[2019-06-05 19:10] Hoverbear commented on #61
Unfortunately it makes the examples *so* nice. :( We do talk about it in the documentation.

[2019-06-05 19:43] nrc commented on #61
The Ref types? Or making the str conversion explicit?

[2019-06-17 19:31] Hoverbear commented on #61
Being able to `impl Into<Key> for &'static str`. Means the examples are almost noiseless.

[2019-06-19 09:45] nrc opened #69 "Allow building integration tests without running them"
As an alternative, we could check for the `PD_ADDR` env var and pass the test if it is not present (or ignore it if it is not present at compile time?).

My reasoning is that when working on the library, it is nice to check that the integration tests still compile, even if we don't run them. Given we don't run them by default today, I don't think passing by default will give a false sense of secur

[2019-06-19 18:45] Hoverbear commented on #69
Is it possible to do `no-run` on tests based on feature flags? Maybe we could use this feature to just enable running the tests?

[2019-06-19 21:01] nrc commented on #69
Good question! I think it should be possible, just a `cfg_attr` and that would be a good solution if it works.

[2019-06-20 17:33] Hoverbear commented on #69
Hmmm let me try it!

[2019-06-20 17:55] Hoverbear commented on #69
@nrc If we still require `property-testing` feature is that ok? Unfortunately due to the `proptest` macro it's difficult to include it in the build without that feature.

[2019-06-20 18:48] Hoverbear opened #74 "Add nightly CI proptest job"
Add a nightly Travis CI proptest job.

[2019-06-20 21:10] nrc commented on #69
moving discussion to #68 since I'm finding it difficult to flick between tabs :-)

[2019-06-24 01:30] nrc commented on #9
The client currently allows any column family to be specified using just a string.

In any case, this issue is not really relevant any more, so closing.

[2019-06-24 01:30] #9 closed

[2019-06-24 01:32] nrc commented on #55
Currently blocked on https://github.com/rust-lang/rust/pull/61572 making it to nightly

[2019-06-24 01:35] nrc opened #75 "Should we allow empty values?"
cc https://github.com/tikv/client-rust/issues/39

They are not permitted to be stored in TiKV, so we could prevent them ever being created. I'm not sure if TiKV ever returns them.

I'm not sure how to make this ergonomic - we could dynamically check easily enough, but a panic is not very friendly (especially if it is not the user's fault), but returning `Result` from every function which creates a

[2019-06-24 01:36] nrc opened #76 "Should Key and Value implement Deref?"
I think not since they are not pointers, nor are they collections deref'ing to slices. However, I'm not sure what the motivation for the implementations is.

[2019-06-25 20:50] nrc commented on #61
So I've been thinking about this and playing around with a `KeyRef` type. `KeyRef` does make things a bit nicer, at the expense of making the code a bit more complex, but I think fundamentally we have two conflicting goals: we want to avoid implicit allocation of keys and we want to avoid any explicit overhead in the examples. The way we do this at the moment is to carve out a special exception fo

[2019-06-25 20:56] Hoverbear commented on #61
@nrc The whole goal of implementing `&'static [u8]` was to reduce complexity. :) Let's not make it more complex to enable it. I'd rather pollute the examples with some `to_bytes()` instead of add a bunch of complexity.

[2019-07-01 23:13] #76 closed

[2019-07-02 19:18] #55 closed

[2019-07-05 00:35] #69 closed

[2019-07-12 03:18] #61 closed

[2019-07-16 03:15] sticnarf opened #82 "cargo doc fails due to too deep recursion"
`cargo doc` produces errors like this:

[code]

Related to https://github.com/rust-lang/rust/issues/62059. It is solved by https://github.com/rust-lang/rust/pull/62450. So simply upgrading the compiler can solve the problem

[2019-07-16 18:05] #82 closed

[2019-07-22 12:36] zhengminlai opened #84 "Can not compile successfully after adding tikv-client dependency in `Cargo.toml`"
I want to use this crate in my project, and I have added `tikv-client = { git = "https://github.com/tikv/client-rust.git" }` in my `Cargo.toml`. However, when I compile, it outputs a lot of errors. Can you tell me how to fix this? Thanks.

The errors are as follows:

[code]

[2019-07-25 03:55] #84 closed

[2019-07-29 17:57] Hoverbear commented on #75
Perhaps we can check them at the request boundary instead of the creation boundary?

[2019-07-30 11:09] sticnarf opened #89 "TSO implementation is broken"
I try to get a number of timestamps asynchronously using `futures::executor::ThreadPool`, but failed.

Test code: https://github.com/sticnarf/tikv-client-rust/blob/enable-async-await/tests/integration_tests.rs

The code just calls the get_timestamp of `RetryClient`.

Notice that the code finally leads to an illegal instruction error.

[code]

[2019-08-02 03:00] sticnarf opened #93 "Add unit tests for the timestamp oracle"
https://github.com/tikv/client-rust/pull/92 only contains an integration test for the timestamp oracle.

It is better for us to have unit tests without a real PD instance. With a mock PD, we can also inject failpoints to test failure cases.

[2019-08-06 04:29] #89 closed

[2019-08-06 04:32] sticnarf opened #94 "Retry when getting a timestamp fails"
https://github.com/tikv/client-rust/blob/2733e28ece3e16b46b6601e6fc8b29ebd0fd6242/src/rpc/pd/client.rs#L111
The `RetryClient` currently does not retry `get_timestamp`.

[2019-08-06 04:36] sticnarf opened #95 "UCP: Check if the PD server responds with less timestamps"
## Description
As discussed in https://github.com/tikv/client-rust/pull/92#discussion_r310870663, when the PD server returns less timestamps than requested, there will be more and more pending requests and the timestamp oracle will finally block forever.

For a robust client, we do need extra checks to detect it.

## Difficulty
- Easy

## Score
- 50

## Mentor(s)
- @sticnarf
- @nrc

## Recommended

[2019-08-06 04:38] sticnarf commented on #54
The old implementation is removed. We don't need to care about it any more. :)

[2019-08-06 04:38] #54 closed

[2019-08-15 03:27] sticnarf opened #99 "Deciding whether a key exists by the value's emptiness is inaccurate"
It is actually possible and reasonable to put an empty value into TiKV. Then, we cannot distinguish an empty value from a non-existent key.

After https://github.com/tikv/tikv/pull/5240, TiKV returns `not_found` field in raw_get and kv_get. Then, we can rely on this field to decide whether the key exists. However, there is a problem that this change is not backported to TiKV release 3.0.

Before t

[2019-08-20 03:19] sticnarf opened #102 "Add error handling to KvRequest::execute"
Firstly, we have to check the errors in the returned RPC response. The simpliest approach is propagating the error.

To improve user experience, we'd better retry inside the library. Especially when there is a region error, we should just get latest region info from PD and resend the request.

[2019-08-21 08:33] nrc opened #105 "Test `util::tests::test_global_timer` fails intermittently on CI"
Example output

[code]

[2019-08-28 07:28] sticnarf opened #110 "UCP: Add backoff and retry limit to requests"
## Description

We shouldn't allow infinite or immediate retries. It is better to add backoff retry delay.

## Difficulty
- Easy

## Score
- 50

## Mentor(s)
- @sticnarf
- @nrc

## Recommended Skills
- Rust

[2019-08-28 07:32] sticnarf opened #111 "Add resolve lock lite"
Normal resolve lock scans the whole region for locks. With resolve lock lite, we resolve only the specified locks. This can reduce TiKV's load when there are a lot of conflicts

[2019-08-30 05:24] sticnarf commented on #105
Close it by https://github.com/tikv/client-rust/pull/112.

[2019-08-30 05:24] #105 closed

[2019-09-02 03:16] sticnarf opened #114 "UCP: Add region cache for PD"
## Description
It costs too much if we query PD for region information in every request. We can save region information in cache and query if necessary (on region error or the region for the key is unknown)

It's a good to idea to use the TiDB implementation as a reference: https://github.com/pingcap/tidb/blob/master/store/tikv/region_cache.go

@nrc has a PR which gives an incomplete implementatio

[2019-09-09 23:25] Hoverbear commented on #35
PTAL @sticnarf

[2019-09-10 02:13] sticnarf commented on #35
The semantics should be rollback. And for optimistic transaction, no data is written to the database before the user commits the transaction. We needn't do anything for it.

[2019-09-21 10:47] howaboutsynergy commented on #82
Is this why the doc page is empty in both Firefox and Chromium? https://docs.rs/tikv-client/0.0.0/tikv_client/
it's linked in https://github.com/tikv/client-rust#access-the-documentation

[2019-09-26 03:07] nrc opened #119 "Convert futures to async/await"
We have a lot of async code now, but are still using some futures, converting them all (or as much as possible) would make the code clearer.

[2019-09-26 18:14] Hoverbear commented on #82
We haven't published this yet (because we currently depend on a git repo), it's coming soon!

[2019-10-08 19:38] howaboutsynergy commented on #15
Hi. Is it safe to assume that when this issue is closed(aka transactional API is implemented) then this [transactional example](https://github.com/tikv/client-rust/blob/e97407a81748dbee1151ec10707f982d1e078e0b/examples/transaction.rs#L28) will not panic with `panicked at 'not yet implemented', /home/user/build/2nonpkgs/rust.stuff/client-rust/src/transaction/transaction.rs:113:9` ? Thanks.

[2019-10-08 21:17] nrc commented on #15
Yes, for sure

[2019-10-16 10:01] TennyZhuang opened #122 "Failed to import client-rust in tikv"
We need to import client-rust in tikv for our hackathon project, and we add tikv-client in dependencies in tikv project, and some compiling error occurs.

[code]

It seems that client-rust and tikv use different feature flag in `kvproto` import, and generate duplicate `generate_files`.

And we cannot remove `features = [ "prost-codec" ]` in client-rust, because it will cause another error:

[code]

[2019-10-17 00:22] nrc commented on #122
The best solution is not to use TiKV and the client in the same project - TiKV is not really designed to be used as a dependency, only a stand-alone binary.

If you must use it, then use this branch: https://github.com/tikv/tikv/pull/5379 and use it with `features = [jemalloc, prost-codec], default-features = false`.

[2019-10-17 01:18] TennyZhuang commented on #122
I want to use client in tikv project (connect the tikv cluster from
itself), but not another project both import client and tikv.

I will try it, Thanks.

Nick Cameron <notifications@github.com>于2019年10月17日 周四08:22写道：

[2019-12-10 22:10] #53 closed

[2019-12-25 02:12] zyctree opened #125 "build failed with kvproto"
here is the error message
[code]
found it can build after changing
[code]
to
[code]
maybe it needs a new rev

[2020-01-15 02:27] divinerapier commented on #125
After replacing `kvproto` gets error

[code]

[2020-01-21 03:18] silathdiir commented on #119
Hello, I would like to work on this if this issue is not a emergency.

[2020-01-22 21:45] nrc commented on #119
@silathdiir that would be great, thank you!

It is not an emergency :-) The best way to start is to search for `Future` or `BoxFuture` in return types and then convert that function to using async/await. Let me know if you'd like more detailed instructions.

[2020-01-29 13:39] PaulGrandperrin opened #127 "Scan() command ignores start_key and end_key"
I ran the raw API example code on a fresh cluster and I get an assertion error here:
https://github.com/tikv/client-rust/blob/master/examples/raw.rs#L95-L97
[code]

So I added two `println!` in `src/raw/requests.rs` to get more info about when those start and end keys where lost, here is the output:
[code]
We can see that in the first object the `start_key`, `end_key`, and `limit` fields are corre

[2020-01-29 16:36] Snnappie commented on #127
I believe I have a fix for this. I can open a pull request soon.

[2020-01-29 22:53] thinktainer commented on #32
What approaches have been considered on how to address the KVproto dependency blocker?

[2020-02-02 04:22] silathdiir commented on #119
Hi @nrc, I tries to search and update with `async/await` for function return types of `Future` or `BoxFuture` in [PR 128](https://github.com/tikv/client-rust/pull/128). Please help review the code.

And I also tried to update in file `src/pd/cluster.rs`, but could not compile successfully, the below error was reported.

[code]

Then I tried to wrap field `cluster` with `Arc` in struct `RetryClient

[2020-02-03 09:02] #125 closed

[2020-02-11 04:06] nrc commented on #32
See also https://github.com/tikv/protobuf-build/pull/31

[2020-02-11 04:48] #122 closed

[2020-02-11 05:03] nrc commented on #119
How did you try to change retry.rs? I don't see any obvious futures to remove.

[2020-02-12 17:20] silathdiir commented on #119
Hi @nrc, I started to fix the file `src/pd/cluster.rs`, and it could not compile successfully, report that lifetime error on `src/pd/retry.rs`.

e.g. fixes the method `Cluster::get_region` to `async` (as below).

And I also created another [local branch and PR](https://github.com/silathdiir/client-rust/pull/1) on my forked repository. Please reference if the example fix is right. Thanks a lot.

[c

[2020-02-13 01:25] sticnarf commented on #119
Reopen as the issue is not completely solved.

[2020-02-13 01:34] sticnarf commented on #102
Close as we have initial error handling now.

[2020-02-13 01:34] #102 closed

[2020-02-18 12:07] silathdiir commented on #110
Hi @sticnarf, I'd like to fix this issue. I tried to do some search for `retry`.
It seems that the file `src/pd/retry.rs` already has the logic and constants for `reconnect`.

[code]

Could you give some instructions on this? Thanks.

[2020-02-18 14:18] sticnarf commented on #110
@silathdiir Yes, you're right. The PD client will retry only a few times on failures .

However, when there is a "region error", we will retry immediately and for unlimited times: https://github.com/tikv/client-rust/blob/master/src/request.rs#L85

I'm really happy you can help fix it :)

[2020-02-28 03:19] nrc commented on #119
Hmm, I see the problem, but I don't know a good solution. I think we might need to refactor the way that retries work to avoid this happening. (I think this is a known issue with async that it makes certain assumptions about the lifetimes of futures).

[2020-02-28 09:59] #94 closed

[2020-02-28 10:06] sticnarf opened #130 "UCP: Implement RawBatchScan"
## Description

Implement the `RawBatchScan` interface. The protocol is:

[code]

## Difficulty

- Easy

## Score
- 50

## Mentor(s)
- @sticnarf
- @nrc

## Recommended Skills
- Rust

[2020-02-28 10:18] sticnarf opened #131 "UCP: Implement transactional scan"
## Description

The scan interface is not implemented for transactions. The project is to implement this interface. The protocol is:

[code]

## Difficulty
- Easy

## Score
- 50

## Mentor(s)
- @sticnarf
- @nrc

## Recommended Skills
- Rust

[2020-02-28 10:58] sticnarf opened #132 "UCP: reconnect to PD asynchronously"
## Description

Currently reconnecting to PD will block the event loop. It's better to do it asynchronously.

Fix https://github.com/tikv/client-rust/blob/master/src/pd/cluster.rs#L205

## Difficulty
- Medium

## Score
- 300

## Mentor(s)
- @sticnarf
- @nrc

## Recommended Skills
- Async Rust programming

[2020-03-05 13:47] weihanglo commented on #131
/pick-up-challenge

[2020-03-05 14:37] gingerkidney commented on #131
/pick-up-challenge

[2020-03-06 00:15] weihanglo commented on #131
/pick-up-challenge

[2020-03-06 02:46] gingerkidney commented on #131
/pick-up-challenge

[2020-03-06 02:59] gingerkidney commented on #131
/pick-up-challenge

[2020-03-06 03:11] you06 commented on #130
/pick-up-challenge

[2020-03-12 08:08] you06 commented on #130
/give-up-challenge

[2020-03-12 08:08] you06 commented on #130
/pick-up-challenge

[2020-03-12 08:31] you06 commented on #130
/pick-up-chanllenge

[2020-03-12 08:32] you06 commented on #130
/give-up-challenge

[2020-03-12 08:33] you06 commented on #130
/pick-up-challenge

[2020-03-17 07:09] sticnarf opened #135 "UCP: Add backoff and retry limit to lock resolving"
## Description

Now we use a fixed delay before resolving locks. It is better to add backoff retry delay and retry limit.

The task is to resolve the TODO here:
https://github.com/tikv/client-rust/blob/f3f3db349cf4131642baa83c3977490bcc7364c7/src/request.rs#L65

## Difficulty
- Easy

## Score
- 50

## Mentor(s)
- @sticnarf
- @nrc

## Recommended Skills
- Rust

[2020-03-17 07:14] silathdiir commented on #135
/pick-up-challenge

[2020-03-18 04:01] SSebo commented on #132
@sticnarf  Could you change the difficulty to Easy? I count the un-picked total easy issues counts, it is less than 200. If this issue is ok to change to easy, I would like to fix it.

[2020-03-18 15:30] SSebo commented on #132
/pick-up-challenge

[2020-03-18 16:02] you06 commented on #132
@SSebo The problem has been fixed, but you still need to get 200 points before picking up this. Don't worry about this task being picked up by other, there are not many teams achieved 200 points in tikv org yet.

[2020-03-18 23:05] SSebo commented on #132
thanks!

[2020-03-21 15:36] SSebo commented on #114
@sticnarf Could you explain a little bit what is the difficult part of this issue? 3000 points is really high.

[2020-03-22 07:46] sticnarf commented on #114
@SSebo This task is not just porting the region cache implementation. The difficulty here is the associating request error handling with cache manipulation.

So if you want to try this task, you may not only look at the region cache in TiDB itself, but also how the cache is used and refreshed on errors.

[2020-03-22 08:42] SSebo commented on #114
@sticnarf I'll have a try after I got my 200 points. Hope this issue is unpick until then.

[2020-03-23 04:12] #110 closed

[2020-03-25 04:20] Renkai commented on #93
pick up unformally

[2020-03-25 07:43] Renkai commented on #95
pick up, unformally

[2020-03-25 14:03] SSebo commented on #114
Is there any resources that should read before pick this issue?

[2020-03-25 15:05] sticnarf commented on #114
I'm sorry but I don't know any text resource about it. TiDB code https://github.com/pingcap/tidb/blob/master/store/tikv/region_cache.go and https://github.com/pingcap/tidb/blob/master/store/tikv/region_request.go may be helpful but you don't necessarily copy the exact implementation of TiDB.

[2020-03-26 03:58] #95 closed

[2020-03-28 06:38] SSebo commented on #114
/pick-up-challenge

[2020-03-28 11:28] SSebo commented on #114
unformally picked up

[2020-03-30 11:20] you06 commented on #135
/pick-up-challenge

[2020-03-30 11:22] you06 commented on #135
/give-up-challenge

[2020-03-30 11:30] you06 commented on #135
@silathdiir Dear contributor, we will close the issue if there is no update in 7 days.

[2020-03-30 13:10] silathdiir commented on #135
@you06 I am sorry that I am busy on these days. Will get back to work on this in this week.

[2020-03-30 13:10] silathdiir commented on #135
/give-up-challenge

[2020-03-30 13:35] you06 commented on #135
@silathdiir Don't worry about it, our [rules](https://github.com/pingcap/community/blob/master/challenge-programs/challenge-program-season-2-cn.md#%E7%AC%AC%E4%BA%8C%E6%AD%A5%E9%A2%86%E5%8F%96%E4%BB%BB%E5%8A%A1) have just been updated

[2020-03-31 00:09] SSebo commented on #114
@sticnarf  Can I continue nrc's work? I just merge nrc `region-cache` branch to `master`, Could you reopen that PR?

[2020-03-31 02:11] sticnarf commented on #114
@SSebo I've reopened it.

[2020-03-31 02:31] SSebo commented on #114
@sticnarf bot close It again, I'll wait until my easy PR merged

[2020-04-01 03:05] Renkai commented on #132
pick up informally

[2020-04-01 04:19] SSebo commented on #132
@Renkai you can formally pick this one:smile:

[2020-04-01 07:15] Renkai commented on #132
@SSebo give up another task is inconvenient😄

[2020-04-01 07:41] you06 commented on #132
@Renkai `/give-up-challenge` still works

[2020-04-01 08:12] Renkai commented on #132
/pick-up-challenge

[2020-04-01 08:14] Renkai commented on #132
@you06 The description says it is medium😂

[2020-04-01 08:37] Renkai commented on #132
/pick-up-challenge

[2020-04-01 13:29] SSebo commented on #114
/pick-up-challenge

[2020-04-06 01:19] Renkai commented on #132
/pick-up-challenge

[2020-04-06 03:18] silathdiir commented on #135
/pick-up-challenge

[2020-04-06 03:50] you06 commented on #135
@silathdiir sorry for this accident, the pick for you is recovered.

[2020-04-06 04:01] Renkai commented on #132
/pick-up-challenge

[2020-04-09 13:18] dustbort opened #142 "Adding tikv-client to brand new rust package won't build"
Manjaro Linux, Release 19.0.2
rustc 1.42.0 (b8cedc004 2020-03-09)
cargo 1.42.0 (86334295e 2020-01-31)
cmake version 3.17.0

Steps to reproduce:
1. Create a new rust lib: `cargo new foo --lib`.
2. Add tikv-client under [dependencies] in Cargo.toml: `tikv-client = { git = "https://github.com/tikv/client-rust.git" }`
3. Run `cargo build`.

Build output:
[code]

I see that https://github.com/tikv/clie

[2020-04-17 03:56] Renkai commented on #132
/give-up-challenge

[2020-04-26 14:53] TommyCpp commented on #142
I ran into the same problem and was able to resolve it by add the following to `Cargo.toml` file.
[code]

[2020-05-07 08:34] weihanglo commented on #131
/give up challenge

[2020-05-07 08:34] weihanglo commented on #131
/give-up-challenge

[2020-05-08 01:21] weihanglo commented on #131
/pick-up-challenge

[2020-05-18 08:43] Renkai commented on #132
/pick-up-challenge

[2020-05-22 02:17] #132 closed

[2020-05-22 09:00] Renkai commented on #111
/pick-up-challenge

[2020-05-25 03:53] #130 closed

[2020-05-25 08:50] Renkai commented on #132
/pick-up-challenge

[2020-05-28 04:19] longfangsong opened #146 "panic when running the transaction example"
I tried to run client-rust's transcation example. And it paniced after `scan` with the following message:
[code]

And if I run it with `RUST_BACKTRACE=1`, it gave me an empty stack backtrace.

OS: macOS 10.15.4, also occured when tested on ubuntu in docker
tikv version: 4.1.0-alpha
pd version: v4.0.0-rc.2-15-g902babf4

[2020-05-29 10:18] nrc opened #148 "Upgrade gRPC and remove futures compat code"
GRPC-rs now supports futures 0.3 so if we upgrade then we shouldn’t need the compatibility shims to go from 0.1 to 0.3.

[2020-06-01 17:02] longfangsong commented on #148
I can have a try with this.
But maybe we should wait for grpc-rs bumping to 0.6.0.
As [this issue](https://github.com/tikv/grpc-rs/issues/462) mentioned, currently we need a patched compiler to make grpc-rs working with futures 0.3 and I cannot find a way to use this compiler without download it into the `client-rust` or `kvproto`'s dictionary, which is a very bad idea.

[2020-06-04 00:57] nrc commented on #148
I think it is fine to use grpc-rs from Git for this. It would be good for us and for grpc-rs to get some experience using it before a proper release, and the rust client is not expected to be stable yet.

[2020-06-04 02:53] #146 closed

[2020-06-04 05:19] longfangsong commented on #148
After trying to use grpc-rs from Git, I found that the compiler would complains about "two different versions of crate `grpcio` are being used". This is because `kvproto` is using a different version of grpcio for now.

But tikv also depends on `kvproto` (also used from git), and tikv might not be built succussfully if `kvproto`'s master branch change its dependency version. So maybe `kvproto` nee

[2020-06-04 10:01] nrc commented on #148
You can use a `patch` or `replace` section in Cargo.toml to propagate the dependency change to all the dependencies like kvproto. That should be much easier than forking. See the [cargo book](https://doc.rust-lang.org/edition-guide/rust-2018/cargo-and-crates-io/replacing-dependencies-with-patch.html) for details.

[2020-07-03 03:46] nrc commented on #15
THis is basically implemented now and can be better tracked with more precise issues

[2020-07-03 03:46] #15 closed

[2020-07-06 21:33] nrc opened #150 "Refactoring: extract low-level kv and pd client crates"
For better separation of concerns, and to let users have different options for the abstraction level they wish to use to interact with TiKV.

Tasks:

* convert the project to a Cargo workspace rather than a single-crate project
* extract the kv_client module into a tikv-store-client crate - I think this should be relatively easy since the module is already self-contained
* extract a similar pd-cli

[2020-07-06 23:41] nrc opened #151 "Refactoring: remove Value type"
Either just use `byte[]` or create an alias `type Value = byte[];` since we do not enforce any additional invariants for `Value` over `byte[]` and to simplify the code. This will also require changes to the `KeyValue` types, etc.

cc #75 #99

[2020-07-08 06:55] nrc opened #153 "Refactoring: replace ColumnFamily type with an enum"
Only a few distinguished names are accepted as column families, so we should make those an enum: Default, Lock, Write, Version ("versioncf").

[2020-07-09 06:46] longfangsong opened #155 "Feature Request: Pessimistic transaction"
I found nothing about pessimistic transaction in this repo, maybe we should support this.

[2020-07-13 02:42] pgray opened #156 "simple example program won't compile with client-rust as a dependency"
It seems the usage of `kvproto` isn't correct right now in master.
Not sure if something needs to be updated.

I'm seeing `cargo check` spew:
[code]
My env:
[code]

[2020-07-13 02:56] ekexium commented on #156
#142 gives a workaround for this.

[2020-07-13 18:23] pgray commented on #156
Ah thanks!

[2020-07-15 02:57] sticnarf commented on #153
Closed by #154.

[2020-07-15 02:57] #153 closed

[2020-07-23 09:30] #151 closed

[2020-07-23 09:32] nrc commented on #119
https://github.com/tikv/client-rust/pull/158 has unblocked some of this work since it solves the problem with the retry module.

I think we can go all in on using async-trait too, so there is a lot of futures -> async work which can be done. Grep for either `Future` to find lots of places which might be able to be converted.

[2020-07-26 22:12] #148 closed

[2020-09-21 09:29] ekexium opened #171 "Plan for releasing 0.1 version"
We're going to make the project ready for a 0.1 release in the following weeks. Please leave a comment if you have suggestions!

We expect it to be fully functional in most cases, and enable Rust users to freely play with TiKV. Becaues of the publish blocker #32 , we will probably not publish it on crate.io.

Supported functionalities in 0.1:
- Raw API
  - `put`, `get`, `delete`, `scan`, `batch_pu

[2020-09-28 03:24] ekexium commented on #127
Fixed by #164. Note the assertion is mistakenly changed (probably to pass the CI) in #134. #178 fix the example.

[2020-09-28 03:24] #127 closed

[2020-09-28 03:29] ekexium commented on #48
I'm gonna close this since #134 implemented raw_batch_scan. It returns a flattened result. Feel free to file a new issue if it doesn't fit your needs.

[2020-09-28 03:29] #48 closed

[2020-09-30 07:04] ekexium opened #180 "Support GC"
TiKV uses MVCC to support transactions, thus GC is needed to remove stale data.
Current implementation of rust-client does not provide GC functionalities.

A workaround is using the [script](https://gist.github.com/MyonKeminta/32c4905b7357203e5cdef9e06f105abf) which calls TiDB's GC functions.

[2020-10-11 05:03] ProgramSalamander commented on #142
I also met this problem and I'm new to rust. I'm wondering what is causing this problem, and would there be any offcial solution.

[2020-10-13 03:28] longfangsong commented on #155
\assign

[2020-10-19 02:34] longfangsong opened #185 "Possible stack overflow when resolving locks on executing KvRequest"
Currently, when we execute a `KvRequest` and met up with unresolvable locks, we'll wait some time and then call `retry_response_stream` again (recusively). And this might cause a stack overflow when the lock is held for a long time.
An example case of this is #184, where I added a retry limit count for a **temporaray** solution.
We need a better way of handling this, maybe call `resolve_locks` in

[2020-10-21 06:24] mckingho commented on #142
@ProgramSalamander There is an [update](https://github.com/pingcap/kvproto/commit/73dc270446865bf52fa75987043a58dd51face25) adding these fields in `kvproto`. But the this repo's lock file is still using an older version `c0e3a4d8bbece2b8d796ed5a08649ea5223b7abf`.

I have tried to add `kvproto = { git = "https://github.com/pingcap/kvproto.git", rev = "c0e3a4d8bbece2b8d796ed5a08649ea5223b7abf" }` in

[2020-10-21 20:39] nrc commented on #32
To summarise the problem:

* All our deps must be published
* kvproto (unpublished) depends on protobuf-build (unpublished)
  - publishing kvproto also opens questions about what to do with the Go code, etc.
* protobuf-build depends on PingCAP's fork of rust-protobuf
  - it would be a relatively large amount of work, and uncertain, to try and upstream our changes
  - rust-client only uses Prost, s

[2020-10-21 20:42] nrc commented on #32
Actually it seems that protobuf-build does not depend on our fork of protobuf, it depends on upstream. So maybe we can just copy the protos we need and we're done :-)

[2020-10-22 07:03] #155 closed

[2020-10-22 20:56] nrc opened #186 "Fix doc warnings"
Run `cargo doc --document-private-items` and we get the following warnings:

[code]

[2020-10-23 02:34] longfangsong commented on #185
Fixed in #184

[2020-10-23 02:34] #185 closed

[2020-10-27 09:11] longfangsong opened #188 "Enable `return_values` for Acquiring Pessimistic Lock"
Currently, when doing pessimistic transaction, we [disabled the `return_values` feature of acquiring pessimistic lock](https://github.com/tikv/client-rust/blob/a399f8157aa678e503846d89a4336b5e19da7489/src/transaction/requests.rs#L617) for convenience, but we can use this feature to save a few `get` requests, so we should find a way to support it.

[2020-10-27 09:12] longfangsong opened #189 "Support large transaction"

[2020-11-01 20:17] #32 closed

[2020-11-02 03:30] ekexium commented on #156
Fixed.

[2020-11-02 03:34] ekexium commented on #142
@mckingho @ProgramSalamander Fixed by #192. We do not depend on `kvproto` now.

[2020-11-02 20:22] #156 closed

[2020-11-02 21:03] #142 closed

[2020-11-02 21:04] #119 closed

[2020-11-02 21:08] nrc commented on #35
Rust doesn't support async drop yet, so I don't think we can do anything that requires communication on drop, i.e., we can't rollback or commit.

What we could do is panic on drop if a transaction has not been rolled back or committed (we would need to add some kind of explicit 'abort' method in case the user wants to drop the transaction without committing/rolling back).

[2020-11-02 21:12] #75 closed

[2020-11-02 21:16] #150 closed

[2020-11-02 21:23] nrc opened #194 "Tracking issue: documentation"
## For initial release

- [ ] Introduction (readme, include in rustdoc, check crate root docs)
- Public API of main crate
  - [ ] RawClient
  - [ ] ColumnFamily
  - [ ] TransactionClient
  - [ ] Snapshot
  - [ ] Transaction
  - [ ] Config
  - [ ] SecurityManager
  - [ ] BoundRange
  - [ ] Error
  - [ ] ErrorKind
  - [ ] Key
  - [ ] KvPair
  - [ ] Result
  - [ ] Timestamp
  - [ ] ToOwnedRange
  - [

[2020-11-04 07:20] ekexium commented on #99
Both raw get and transactional get now use this field. We can close it if we only intend to support TiKV 4.0 or newer versions.

[2020-11-04 19:35] #99 closed

[2020-11-04 19:36] nrc commented on #99
Do we use the field in the client, or do we need to make that change?

[2020-11-05 02:00] ekexium commented on #99
We already used them.
https://github.com/tikv/client-rust/blob/c7eeff9e4a5a5aae75ac33d4d46f4cedbb62b6ff/src/raw/requests.rs#L42-L46
https://github.com/tikv/client-rust/blob/c7eeff9e4a5a5aae75ac33d4d46f4cedbb62b6ff/src/transaction/requests.rs#L39-L43

[2020-11-13 09:13] andylokandy opened #199 "Pessimistic put should not lock key if already locked"
# Steps to reproduce

1. start a transaction client and then begin pessimistic transaction
2. txn.get_for_update("k1");
3. txn.put("k1");    // BOOM

[2020-11-16 15:58] humancalico opened #200 "unable to build on NixOS"
I am trying to build this crate on NixOS 20.09 and have the following dependencies installed:

- rustup
- openssl
- pkgconfig
- cmake

but the build is failing with the error

[code]

[2020-11-17 03:50] ekexium commented on #200
@nrc Do we need protoc as a dependency? Can we consider include precompiled files?

[2020-11-20 08:44] andylokandy commented on #199
Sorry. It's because the k1 was locked before, and it was not resolved yet.

[2020-11-20 08:44] #199 closed

[2020-11-23 07:30] #35 closed

[2020-11-24 11:08] humancalico commented on #200
@ekexium Is there any workaround for building this crate?

[2020-11-26 02:28] ekexium commented on #200
@humancalico

Could you try to install `protoc` and see if it works? Instructions: https://github.com/pingcap/kvproto#multiple-protoc-versions

[2020-11-26 16:27] humancalico commented on #200
@ekexium It didn't work with that. But I found what was causing the issue.
https://github.com/danburkert/prost/issues/305.
But I can't use that since there has been no new release. Is there a way I can specify the Git repository for `prost-build` in `tikv-client-proto`'s `Cargo.toml`?

[2020-11-26 20:29] nrc commented on #200
Yes, you can use a `patch` in your Cargo.toml, e.g.,

[code]

[2020-12-08 19:13] nrc commented on #180
I noticed that the gc function does not use the gc request, which is a bit confusing. AIUI, we currently gc locks but not deleted data (the delete ranges step) or old data (which uses the gc request).

[2020-12-08 19:24] nrc opened #204 "Requesting a pessimistic lock does not use the correct primary key"
It uses the first key of the action, not the primary key of the transaction.

[2020-12-08 21:38] nrc opened #205 "The API of transaction::requests is inconsistent"
Mostly the arguments to the `new_...` functions: some take high level type (e.g., `Key`), some take low level ones (e.g., `Vec<u8>`) and some take converting types (e.g., `impl Into<Key>`). I think they should all take high-level types and do the conversions internally.

Some of the names have an unnecessary `mvcc` in them.

We should check that after those changes there is nothing more to do.

[2020-12-08 21:42] nrc opened #206 "Refactor handling of response types"
The pipeline at the moment takes a response from each region, converts it to the API type, then combines it into a single response. This is sub-optimal if the user wants multiple responses (and I bet we're dropping some errors which we should pass to the user). The combination step has types which mean that if we want to combine individual responses into a `Vec`, we need to allocate a `Vec` for ea

[2020-12-09 02:31] ekexium commented on #180
The ![new GC mechanism](https://docs.pingcap.com/tidb/stable/garbage-collection-overview#do-gc) only requires updating safepoint to PD. "TiKV automatically detects the change of safe point and performs GC for all Region leaders on the current node."

[2020-12-10 02:16] nrc commented on #180
The link is broken for me. Does that mean we don't need to support the gc message at all?

[2020-12-10 02:31] ekexium commented on #180
Yes, I think. The link is updated.

[2020-12-10 22:52] nrc opened #208 "Give the user more control over lock resolution"
Currently, we automatically resolve locks and retry (without bumping the start ts which would be unsound). This is ok as a default, but it would be nice to also allow the user to have more control, i.e., returning an error with the locks and providing a resolve_locks function.

I have started implementing this, but I'm not sure what the API should look like - i.e., how does the user opt-in to auto

[2020-12-10 22:53] nrc opened #209 "Use CheckTransactionStatus rather than Cleanup"
Cleanup is deprecated from v4.0 onwards.

I've started implementation (along with async commit lock resolution) but have got a bit bogged down with the retry logic).

[2020-12-11 02:22] longfangsong commented on #204
/assign

[2020-12-16 10:23] longfangsong opened #212 "FTP-Deploy-Action always fail, can we Github Pages instead?"
FTP-Deploy-Action always fail, can we Github Pages instead?
eg.
[code]

[2020-12-17 02:50] nrc commented on #212
Where do you see the failures? From the actions tab it looks like the action succeeds

[2020-12-17 03:17] longfangsong commented on #212
Sorry it's my own fork, not `upstream/master`, I'm mail bombed by GitHub.
I think it's ok for it to just work for `upstream/master`.

[2020-12-17 03:17] #212 closed

[2021-01-06 10:04] Hexilee opened #216 "get_for_update does not release lock after rollback"
### A minimal reproducible example

[code]

Execute `cargo run` then you will get an error:

[code]

[2021-01-06 19:10] nrc commented on #216
@ekexium could you take a look at this please?

[2021-01-07 02:24] ekexium commented on #216
/assign
Sure

[2021-01-07 06:46] ekexium commented on #216
It's caused by the problematic implementation of `get_for_udpate`. It doesn't record the pessimistic lock in the local buffer, so the rollback command won't rollback the key.

I suggest we keep the same (or similar) semantics with TiDB: use the pessimistic lock request to read the value.

The problem is that the response cannot tell us it's an empty value or it's non-existent. But existing code de

[2021-01-07 07:16] andylokandy opened #217 "Support Insert and CheckNotExist mutations"
This issue proposes to add `insert(key, value)` and `check_not_exist()` to `Transaction`.

`Insert` and `CheckNotExist` are special mutations that will check that the key should not exist until commit. The difference between them is that `CheckNotExist` doesn't carry a value and only works in the optimistic transaction while `Insert` should work in both.

learning materials: https://github.com/tik

[2021-01-07 20:47] nrc commented on #216
@ekexium sgtm, do you have time to implement this?

[2021-01-08 02:18] ekexium commented on #216
@nrc WIP. I found another bug related with it. I will fix them together.

[2021-01-10 04:47] losfair opened #220 "Linking error when using tikv-client and reqwest in the same crate"
Hi,

I'm trying to use `tikv-client` and `reqwest` in the same crate and it doesn't work.

Error:

[code]

How to reproduce:

`src/main.rs`:

[code]

`Cargo.toml`:

[code]

After removing either `tikv-client` or `reqwest` it compiles and runs successfully.

Not sure what the problem is. Maybe a version mismatch somewhere?

Thanks!

Related: https://github.com/losfair/rusty-workers/issues/6

[2021-01-10 21:04] nrc commented on #220
Have you tried deleting Cargo.lock and rebuilding? The next step would be looking through Cargo.lock and trying to find any crates which have multiple versions, then try and figure out how the different versions get there and upgrade/downgrade deps as necessary to try to eliminate the duplicates.

[2021-01-11 20:48] #204 closed

[2021-01-12 10:02] andylokandy opened #225 "Unexpected assertion failed: self.primary_key.is_none()"
I modified examples/transaction.rs to the following, and then it panicked.

[code]

[code]

[2021-01-12 10:19] ekexium commented on #225
Probably because of the scan overriding entries in the local buffer. It should be fixed in #218. Could you try that?

[2021-01-12 10:34] longfangsong commented on #225
Aleady fixed in #218.

[2021-01-13 03:01] #225 closed

[2021-01-13 20:12] nrc opened #227 "Automatically send heartbeats"
For long-running transactions, the client should send heartbeat messages to the server. This should be optional (similar to retrying) and on by default. It should still be possible to manually send heartbeats.

[2021-01-14 08:56] #188 closed

[2021-01-14 13:47] andylokandy commented on #227
Copied from https://github.com/tikv/client-rust/pull/221#issuecomment-759911420:

[2021-01-15 03:57] Hexilee commented on #216
This bug seems to be fixed.

[2021-01-15 03:57] #216 closed

[2021-01-17 20:36] nrc commented on #227
My philosophy for the client is that the default API should make things as easy as possible for the user and so things like heartbeats and retries should happen automatically. However, it should be possible to customise the workflow up to the level of the gRPC API. The use cases here are for somebody re-implementing TiDB in Rust, or more likely implementing some other, equally complex, DB on top o

[2021-01-19 22:07] nrc commented on #180
@ekexium is it ok to close this issue now? We have a `gc` function, which I think does what it should.

[2021-01-20 02:19] ekexium commented on #180
The `gc` function is not well tested yet. And I think there are open questions. For example, should we provide automatic GC? How

[2021-01-24 20:22] #186 closed

[2021-02-08 03:05] TszKitLo40 commented on #227
Where the API should be added in the `rust-client`?

[2021-02-08 03:23] ekexium commented on #227
@TszKitLo40 You can add a field in `TransactionOptions`

[2021-02-08 03:28] TszKitLo40 commented on #227
Do you mean it should be a `bool`  to indicate whether is will send heartbeats automatically? But where should the API be added?

[2021-02-08 03:44] ekexium commented on #227
@TszKitLo40 I think it can be a bool.
The interface should be the `TransactionOptions` that users supply. Do you mean where to implement it? One initial idea is to make use of the `bg_worker`.

[2021-02-08 03:48] TszKitLo40 commented on #227
Yes, I mean where to implement this API. Do you mean we should implement it as a method in the `Client` in `transaction/client.rs` and make use of `bg_worker`?

[2021-02-08 03:58] ekexium commented on #227
@TszKitLo40
Heartbeats are for transactions, so I think it shouldn't be implemented in `Client`.
Each transaction has its `TransactionOptions` which is the place that users can specify the behavior.
I think we can start periodically sending heartbeats since one transaction starts, and stop when the transaction is rolled back or committed. It can be implemented in `transaction.rs`, I guess.

[2021-02-09 07:56] TszKitLo40 commented on #227
Should we also define a variable for the heartbeat interval?

[2021-02-09 08:58] ekexium commented on #227
@TszKitLo40
Yes there should be a constant variable for the default interval.
Personally I don't think it needs to be configurable (for now).

[2021-02-09 09:01] TszKitLo40 commented on #227
I want to start periodically sending heartbeats in the `new method` of Transaction. And it seems that the `bg_worker` which is a `ThreadPool` can't be executed at a fixed rate, any example for me to refer?

[2021-02-09 09:10] ekexium commented on #227
How about spawning a task that periodically do something in the thread pool?

[2021-02-12 02:59] #217 closed

[2021-02-12 03:49] TszKitLo40 commented on #227
When should we spawn the task? Should we distinguish the optimistic lock and pessimistic lock? @ekexium

[2021-02-14 22:28] JerryGreen commented on #32
Blockers resolved, but still no crate?

[2021-02-15 00:08] nrc commented on #32
Indeed, we're working on getting the quality to a point where we're satisfied enough for a 0.1 release. Hopefully we should have a release in the next month or so.

[2021-02-16 22:20] nrc opened #234 "Committing a delete must unlock"
When we delete in a pessimistic transaction, we first lock the key. However, if our transaction first inserts a value, then deletes it, we do this all in the buffer and our prewrite only sends a 'check not exists' message to TiKV. That leaves the key locked, we should unlock it.

[2021-02-16 22:30] nrc opened #235 "Why do we not resolve locks for pessimistic transactions?"
I'm not sure if this is a feature or a bug.

[2021-02-18 06:26] ekexium commented on #227
@TszKitLo40 Similar to TiDB, after the prewrite, and after each pessimistic lock acquisition.

[2021-02-18 08:48] ekexium commented on #235
Seems to me it's intentional. From [tidb](https://github.com/pingcap/tidb/blob/9cb9b69b61a76e9cc3f8cfa27f86635c2496cf16/store/tikv/pessimistic.go#L164):

[2021-02-22 23:08] nrc opened #237 "Fix warnings due to generated code"
The generated protobufs cause lots of warnings with latest Prost (updated in https://github.com/tikv/client-rust/pull/232)

[2021-02-22 23:19] nrc opened #238 "0.2: Improve error handling"
Debugging and handling errors is sub-optimal. Our errors are pretty good for the general case, and for just printing an error to a log or whatever, but if you're actually trying to fix bugs or handle the errors programatically, then they are not ideal.

A concrete example is that if an error is thrown while a transaction has not been committed/dropped, then we panic and the underlying error is los

[2021-02-22 23:21] nrc opened #239 "Option to rollback transaction on drop"
This shouldn't be the default since it means doing a lot of work in `drop` and work which can cause errors (and thus double panics), but it would be a useful convenience option.

[2021-02-23 02:17] nrc commented on #237
We'll want to turn back on denying warnings once this is fixed

[2021-02-23 03:12] nrc opened #240 "Fix the jitter tests"
For some reason the jitter tests fail on CI some or most of the time but consistently pass locally (at least for me, on both Mac and Linux).

[2021-02-24 10:40] ekexium opened #241 "Drop check often hides the real error"
When we use the `?` operator and it returns error, active transactions in the scope get dropped, and by default panic. The only error message we could see becomes "dropping active transaction", which hides the real error.

We should find some way to improve this.

[2021-02-24 22:42] nrc commented on #241
dup of #238

[2021-02-24 22:42] #241 closed

[2021-02-25 03:31] #205 closed

[2021-02-25 08:33] ekexium opened #242 "Some errors are not propagated out"
https://github.com/tikv/client-rust/blob/3fad149ff31448288093a54288dd0e7688c3ad89/tikv-client-store/src/errors.rs#L153-L157

The implementation ignores `Err`, which will cause problems, e.g. we turn `error` to `Err` in `MultiRegion` and following plans will not be able to detect the error using `HasError::error`.

Even if the errors get propagated, we sometimes ignore them. For example, if the res

[2021-02-25 10:29] ekexium commented on #242
/label bug

[2021-02-25 10:31] ekexium opened #243 "`send_heart_beat` does not update TTL"
The TTL should be `(current_time - start_time + lock_ttl)`. Currently, it uses `DEFAULT_LOCK_TTL`, which doesn't make much sense.

[2021-02-25 10:31] ekexium commented on #243
/label bug

[2021-02-25 11:21] #131 closed

[2021-02-25 11:21] #114 closed

[2021-02-25 11:22] #135 closed

[2021-02-25 11:24] andylokandy commented on #189
Reference: https://github.com/tikv/client-rust/pull/236

[2021-02-25 11:26] andylokandy opened #244 "Support `txn.delete_range()`"
`Transaction` doesn't support deleting keys by range while`RawClient` did. In fact, TiKV provided the rpc request `DeleteRange` for transaction mode. It should be straightforward to expose it in transaction API.

[2021-02-25 19:54] nrc commented on #242
cc #238

[2021-02-27 23:44] humancalico commented on #200
I have finally figured it out :cry: Here's the final `shell.nix` in case anyone stumbles upon it in the future.
[code]

[2021-02-27 23:44] #200 closed

[2021-03-03 05:39] longfangsong commented on #240
IMO the jitter tests are supposed to panic:
[code]

The real failed test in #236 is `failpoints_tests::optimistic_heartbeat`

[2021-03-03 05:42] longfangsong commented on #240
PS.
<img width="1440" alt="图片" src="https://user-images.githubusercontent.com/13777628/109758141-14882400-7c26-11eb-85c1-238458ac3cac.png">

We should migrate from travis to other CI platforms, maybe GitHub Action.

[2021-03-05 00:53] #206 closed

[2021-03-05 00:55] nrc commented on #171
I'm thinking of the 0.1 release again. I think we should aim for the end of March. I've added some issues which I think should be blocking to the 0.1 milestone.

I don't think we need to block on the Jepsen test, though we should probably block a 1.0 on that.

@ekexium are you aware of anywhere where we panic where we should create an error?

[2021-03-05 02:49] ekexium commented on #171
Agree.

I checked it months ago. Recently we've added more functionalities. I'll check it again.

Will we also publish the support of pessimistic transactions and async commit? There is a lack of tests I think.

[2021-03-05 08:39] ekexium opened #246 "Don't bind to tokio"
We use several tokio components in the code, which requires the tokio runtime. We should replace them with runtime independent ones, e.g. `futures-timer`.

[2021-03-05 09:49] nrc commented on #171
Pessimistic transactions yes, async commit no (because we haven't implemented recovery). I think there are enough tests for pessimistic transactions, though I might be wrong. In any case, we don't need to be perfect for a 0.1 launch.

This makes me wonder if we should have a feature flag system for experimental features like async commit, or whether we should just `#[doc(hidden)]` them.

[2021-03-10 10:51] andylokandy opened #249 "Calculate proper TTL with transaction size"
Current implementation sets the TTL as a constant value, and we'd like to calculate the TTL based on the transaction size so as to reduce heartbeat requests.

[2021-03-10 22:01] #227 closed

[2021-03-12 08:09] #242 closed

[2021-03-15 10:33] ekexium opened #251 "Panic with multiple regions and 1pc"
When there are multiple regions, 1PC transactions can panic.

[2021-03-15 10:33] ekexium commented on #251
/label bug

[2021-03-18 00:57] #237 closed

[2021-04-12 06:49] ekexium opened #257 "Buffer: Insert/CheckNotExist + Put should be Insert"
Currently, `put` will override.

[2021-04-13 16:30] gfreezy opened #260 "add new protocol messages for `coprocessor_v2`"
https://github.com/pingcap/kvproto/pull/728/files

[2021-04-13 22:16] nrc opened #261 "Remove rust-toolchain file"
I added it to work around a compiler regression (https://github.com/tikv/client-rust/pull/253#issuecomment-819088187) there is already a fix on the way and we should remove rust-toolchain soon.

[2021-04-14 01:35] #234 closed

[2021-04-14 02:10] hi-rustin commented on #244
I will working on this.

[2021-04-15 08:35] #261 closed

[2021-04-16 05:14] #260 closed

[2021-04-20 11:15] nrc opened #267 "Logging"
We do very minimal logging - a total of six locations log any data. Either we should do proper logging, or we should remove those six logging locations and the dependency.

[2021-04-21 09:21] nrc commented on #194
There's still a lot of work to do here, but I believe that #269 gets us to a state where we can make a 0.1 release.

[2021-04-21 09:38] nrc commented on #171
Everything here is done

[2021-04-21 09:38] #171 closed

[2021-04-21 09:42] nrc opened #270 "Implement behaviour for Insert/CheckNotExist + Delete"
cc https://github.com/tikv/client-rust/discussions/255

[2021-04-23 07:00] andylokandy commented on #244
I think I misunderstood the sematic of txn delete range. It's not supposed to be used.

[2021-04-23 07:00] #244 closed

[2021-04-28 03:32] #257 closed

[2021-04-28 07:56] #251 closed

[2021-04-29 04:20] nrc opened #274 "Feedback on 0.1 RC"
We have published the 0.1 RC as 0.0.99 (https://github.com/tikv/client-rust/releases/tag/0.0.99). Please leave any feedback here.

[2021-04-29 04:22] #270 closed

[2021-04-29 22:10] nrc commented on #274
Docs issue: since the API is async, the user needs to use Tokio and an async main, but we don't cover this in the docs.

[2021-04-30 03:51] #240 closed

[2021-05-02 16:46] #249 closed

[2021-05-06 07:16] andylokandy commented on #180
I've written up an [RFC](https://github.com/tikv/rfcs/pull/65) for future work on GC refractory. Once this is implemented, the client may need to support editing GC barrier via PD.

[2021-05-06 07:37] andylokandy commented on #243
@ekexium Is this solved?

[2021-05-06 07:40] ekexium commented on #243
Not yet.

[2021-05-06 12:38] andylokandy commented on #243
@TszKitLo40 Would you like to have a try?

[2021-05-07 03:26] TszKitLo40 commented on #243
I would like to.

[2021-05-07 04:34] nrc commented on #274
cc https://github.com/tikv/client-rust/pull/277

[2021-05-07 07:09] ekexium opened #278 "CI: EpochNotMatch"
Sometimes CI fails for `RegionError(Error { message: "EpochNotMatch ...`. It's probably caused by frequent region split.

[2021-05-07 21:21] #278 closed

[2021-05-10 07:32] ekexium opened #283 "Parallelize multi-reigon request"
A request involving multiple regions can be parallelized.

We may also need to consider the maximum concurrency. If there are too many concurrent requests, TiKV is likely to report "server is busy".

[2021-05-10 07:40] ekexium opened #284 "Test with fault injection and nemesis"
We need to test the client under a complicated environment.

Some bugs can only be found when there are errors or the region topology changes.

[2021-05-10 07:42] ekexium opened #285 "Improve unit test coverage"
In 0.0.99, the test coverage is about 45%.

[2021-05-10 08:54] ekexium opened #286 "TiKV version compatibility check"
Some features require specific TiKV versions. The client should support older versions of TiKV as it evolves.

TiKV versions can be retrived from PD by `get_all_stores`.

[2021-05-10 09:24] ekexium opened #287 "Support async commit and 1PC"

[2021-05-10 11:58] ekexium opened #288 "Performance test and benchmarking"
We should provide benchmark results for each release.
It's also meaningful to guide performance optimization.

[2021-05-11 08:11] ekexium opened #289 "Synchronous API"
Synchronous API is easier for new users to get started but can be less efficient.

The easiest way to do it is simply `block_on` each async API.

- [ ] Raw client #301
- [ ] Transactional client
- [ ] Tests and examples

[2021-05-12 02:13] #274 closed

[2021-05-31 01:11] xuhui-lu commented on #289
Hey @ekexium , is this issue still open? I could help with it.

[2021-05-31 02:07] ekexium commented on #289
Yes it's open. Thank you!

[2021-06-02 02:08] ekexium opened #299 "Add region cache"
Region cache caches the region information in the client and saves unnecessary queries to PD. It's key to performance.

The previous UCP challenge #114 didn't finish the task.
We'll use this issue to track the progress.

[2021-06-04 07:11] tisonkun opened #300 "Support TTL"
See also [this page](https://docs.pingcap.com/tidb/stable/tikv-configuration-file#enable-ttl-new-in-v50-ga).

Rust Client doesn't support TTL yet.

[2021-06-14 09:48] Little-Wallace opened #302 "How to run a GC job?"
I think the readme should better give an example about how to run a GC job.  According to my understanding, when there are some transactions running and have not committed, the timestamp which we call `gc` with shall be less than the start time of all the running transactions, is it right?
So the transaction shall allow user to get start_time from a transaction.

[2021-06-16 07:49] #243 closed

[2021-06-16 08:43] ekexium opened #305 "Transfer CI to GitHub Actions"
Travis CI is no longer free. We should consider switching to GitHub Actions.

[2021-06-21 06:31] #302 closed

[2021-06-21 14:53] #220 closed

[2021-06-22 07:12] ekexium opened #308 "`pessimistic_lock` can be cached"
Currently `pessimistic_lock` will always issue a request.
If heartbeat is enabled, we don't have to lock the same key for multiple times.
For `get_for_update`-like operations, we can have a separate cache to cache its value.

[2021-06-22 07:14] #305 closed

[2021-06-25 05:34] ekexium opened #310 "Fine-grained backoff"
Currently we have `DEFAULT_REGION_BACKOFF`, `OPTIMISTIC_BACKOFF`, and `PESSIMISTIC_BACKOFF`. The same `Backoff` is used almost everywhere in certain transaction. There can be more fine-grained `Backoff`s for better performance and user experience.

[2021-06-30 14:32] ekexium opened #311 "Limit the memory usage"
For example, cache should have a limit on size.

[2021-07-01 07:52] ekexium commented on #189
We need `check_txn_status` to support large transaction. #209

[2021-07-21 06:58] ekexium commented on #267
Checklist for the slog migration:
- [ ] Pass the logger around
- [ ] Update examples and docs

[2021-08-06 02:59] ekexium opened #312 "The beginning of heartbeats for pessimistic locks may be too late"
Current process:
1. lock all keys
2. start heartbeat

Consider we lock a lot of keys in a single command, which takes a long time. Before the heartbeat begins, some of the locks may be stale and removed.

A possible improvement:
1. lock the primary key if it's not locked
2. start heartbeat
3. lock other keys

[2021-08-06 03:46] ekexium opened #313 "Error handling for pessimistic locks"
- If a pessimistic lock request fails, we should rollback locks
- The primary key should only be set if the request succeeds (on all keys).

[2021-08-16 12:26] gfreezy opened #314 "will the pessimistic locks be auto released when panicing?"

[2021-08-16 14:32] ekexium commented on #314
No. I think we can hardly do anything when panicking. But locks should be rolled back if the operation fails. The task is part of #313

[2021-08-16 15:48] gfreezy commented on #314
Will the locks be freed when the connection disconnects?

[2021-08-17 02:43] ekexium commented on #314
When you have network issues, the client can't release the locks. But the locks will expire and can be released when other transactions meet them.

[2021-08-17 07:26] gfreezy commented on #314
Will the locks be released only when they expire? What is the default ttl when ttl is not set in the locking request?

[2021-08-17 07:38] ekexium commented on #314
No. TiKV doesn't actively look for expired locks. They are only released if some other transaction meets them.

In client-rust it's defined by https://github.com/tikv/client-rust/blob/eb1d2da05cc857818e078bc3d91ce50343031642/src/transaction/transaction.rs#L868-L869

[2021-08-17 10:57] gfreezy opened #315 "TxnLockNotFound"
[code]

The above code raise the following error:

[code]

Tikv setup:

![image](https://user-images.githubusercontent.com/510012/129714281-ee3c98f7-3b5a-4746-8293-5ba7c3625429.png)

[2021-08-17 10:57] #314 closed

[2021-08-18 07:28] ekexium commented on #315
Which version are you using?

[2021-08-18 08:50] gfreezy commented on #315
Is it a TiKV bug or client-rust's ?

[2021-08-18 08:52] ekexium commented on #315
It's cilent-rust's

[2021-08-18 09:08] gfreezy commented on #315
I'd like to try fixing the bug. Any Docs or guide how to do it?

[2021-08-18 10:06] ekexium commented on #315
`CheckNotExists` is checked in the prewrite phase and should not appear in the commit phase. So I think there are basically two things to do:
1. When we set the primary key of a transaction, the corresponding operation must not be `CheckNotExists`.
2. We should filter out mutations with `CheckNotExists` in the commit phase.

[2021-08-24 06:06] gfreezy commented on #315
What does primary key means in a tikv transaction?

[2021-08-25 04:04] gfreezy commented on #315
Should we change the way how primary key is set to be the same as go?

[2021-08-25 13:10] ekexium commented on #315
That's one way to fix the issue. But it may introduce other subtleties. For example, pessimistic lock requests require a primary key, even when the transaction isn't ready to commit. Maybe we can temporarily set the PK as the key that needs to be locked? We must carefully reason its correctness.

I don't have a simple solution for now. @andylokandy do you have any good ideas?

[2021-09-08 21:32] Diggsey opened #318 "Don't enable `openssl-vendored` feature of `grpcio`"
It should be up to downstream crates whether to vendor OpenSSL.

[2021-11-13 16:10] Little-Wallace opened #321 "Proposal: pass Mutation and RegionStore by Arc pointer"
### Problem
Client-rust costs a lot of CPU to copy the structure. And most of this copy and allocation is to copy mutation between TransactionClient and kinds of PlanBuilder.

### Solution
I think we can store these Mutation and RegionStore of RegionCache as an Arc Pointer. We only need to clone them before we really call gRPC API to send requests.

[2021-12-06 10:19] inevity opened #322 "What we will do since take_region_error in kvpro have been removed ?"
https://github.com/tikv/client-rust/blob/master/tikv-client-store/src/errors.rs:32 use the method.

[2021-12-06 10:23] ekexium commented on #322
Where did you find that `take_region_error` has been removed?

[2021-12-06 10:35] inevity commented on #322
See master on kvproto, grep return none.  this commit 820f463fe509cfe7d2f0ea387f408c1728487834 remove this.

[2021-12-07 11:12] ekexium commented on #322
The code is generated when building it. The `region_error` fields still exist.  BTW for backward compatibility fields should be hardly removed.

[2021-12-08 10:19] inevity commented on #322
The field is still  exist, but the method have been removed . I will dig it why this code work

[2021-12-08 10:32] ekexium commented on #322
Just build client-rust and you can see code is generated. It generates methods like `get_` `take_` `has_` for each field.
You might be interested in https://github.com/tikv/protobuf-build

I'm closing it for now. Feel free to open it if you still have questions :).

[2021-12-08 10:32] #322 closed

[2021-12-10 08:26] linuxpham opened #325 "use tikv client #rust with #grpcio"
Hi admin,

I use `grpcio` to build `grpc` server. #client-rust use #tokio runtime, `grpcio` use another runtime.

How can I use `tikv-client` in RpcContext `grpcio` ?

Thank you!

[2021-12-10 09:05] ekexium commented on #325
Did you mean tikv/grpc-rs?

tikv-client (for now, and at least in the near future) requires the tokio runtime. In my humble opinion, if the runtimes are incompatible, you'd better use them independently and choose an appropriate communication mechanism.

[2021-12-11 16:00] frostyplanet commented on #180
What's the status of the GC feature ?

[2021-12-13 05:41] andylokandy commented on #180
It's still the same.

[2021-12-16 15:44] frostyplanet commented on #180
May I ask the difference of current implementation between the ones in tikv/client-go code ?

[2022-01-07 16:41] 123vivekr commented on #286
I'd like to take this up if its free

[2022-01-09 07:01] ekexium commented on #286
@123vivekr That's great! Please take it up

[2022-01-16 13:14] blacktear23 opened #326 "Transaction::batch_get should return Result<Vec<KvPair>>"
`Transaction::batch_get` should return `Result<Vec<KvPair>>` as `RawClient` do.

Currently `Result<impl Iterator<Item = KvPair>>` not implements Copy trait so it cannot compile in `tokio::spawn` async block.

[2022-01-16 13:16] blacktear23 opened #327 "Require more batch operations for TransactionClient"
Require more batch operations for `TransactionClient` such as `RawClient` did. Such as:

* batch_put
* batch_scan
* batch_delete
* delete_range

[2022-01-17 07:51] ekexium commented on #327
Hi, do you need them in your application?

`batch_scan` in transaction API is not supported by TiKV. If you really want it, please submit a feature request to tikv/tikv.

For optimistic transactions, `batch_delete` and `batch_put` are equivalent to multiple `delete`s and `put`s .
For pessimistic transactions, a more efficient way is first `lock_keys` and then do multple `delete`s or `put`s. Maybe

[2022-01-17 08:11] ekexium commented on #326
Could you provide an example?

[2022-01-18 07:07] blacktear23 commented on #326
[code]

[2022-01-18 07:48] ekexium commented on #326
I see. It's been fixed in https://github.com/tikv/client-rust/pull/297. You could try it on the master branch.

[2022-01-18 08:18] blacktear23 opened #328 "Transaction::lock_keys should wait instead of return a `Failed to resolve lock` Error."
Transaction::lock_keys should wait instead of return a `Failed to resolve lock` Error. As other language's standard library `lock` call will block current thread or coroutine. So Transaction::lock_keys should block until got the lock. And we can provide a `try_lock_keys` function that return immediately.

[2022-01-18 08:35] ekexium commented on #328
I think it's by design. By default the resolve lock process will retry for several times, but not retry forever.
Your requested behavior can be achieved by providing a custom `RetryOptions` via `TransactionOptions::retry_options`

[2022-01-18 08:45] blacktear23 commented on #328
I have wrote a test code like below:
[code]

As expected txn2's `lock_keys` should be wait until txn1 commit. But the execute result is:
[code]

[2022-01-18 09:02] blacktear23 commented on #326
@ekexium It works for master branch. Thanks!

[2022-01-18 09:02] #326 closed

[2022-01-18 10:08] ekexium commented on #328
This is unexpected, thanks for finding the issue!
The problem is that the pessimistic lock requests use the default TTL (3s, which is for prewrites) instead of the MAX_TTL(20s) so that the heartbeat mechanism isn't able to keep the locks alive.

[2022-01-18 11:07] blacktear23 commented on #328
@ekexium I test your PR in my test project, I found if I change the txn1's sleep time to 30 seconds, txn2 still can get the lock.

[2022-01-18 12:46] ekexium commented on #328
@blacktear23 Did you use the 0.1 version or master? 0.1 doesn't include the heartbeat feature (its support for pessimistic transactions is incomplete).

[2022-01-18 13:18] blacktear23 commented on #328
your pr branch https://github.com/tikv/client-rust/pull/329

[2022-01-18 13:23] ekexium commented on #328
emmm I can't reproduce it. Did you just change the sleep time from 5 secs to 30?

[2022-01-19 02:09] blacktear23 commented on #328
tokio sleep

[2022-01-19 12:26] blacktear23 commented on #328
@ekexium https://github.com/blacktear23/tikv-client-test/blob/master/src/main.rs this is my test code repo.

[2022-01-20 04:48] ekexium commented on #328
@blacktear23 I see. The new TTL is not updated correctly. I've fixed that in the same PR. Please check if it works.

[2022-01-20 06:23] blacktear23 commented on #328
@ekexium after update your branch it works!

[2022-01-20 07:31] 123vivekr commented on #286
@ekexium I'm a bit lost. Could you give me a few pointers on where I should look into?

[2022-01-20 07:33] 123vivekr commented on #286
I understood the client must check for the TiKV version and the version can be fetched from `get_all_stores` but not sure when to check compatibility and how to check it for different features.

[2022-01-20 07:46] ekexium commented on #286
You can start with the "async commit" and 1pc feature. Both are supported since tikv 5.0.
Once we find a proper pattern to do it, next steps may be the "raw coprocessor" and the "raw TTL" features.

[2022-01-21 13:21] blacktear23 opened #330 "Let raw client support `putIfAbsent` feature"
Let raw client support `putIfAbsent` feature, just like client-java.

[2022-01-21 13:38] ekexium commented on #330
Try `compare_and_swap`? You can set `previous_value` to be `None`.

[2022-01-21 13:53] blacktear23 commented on #330
Can we wrap a put_if_absent function? And the document need update, I cannot find `compare_and_swap` function at document.

[2022-01-21 13:59] ekexium commented on #330
If it's remarkably easier for users to find what they want, I think it's worth it. In my personal opinion, there's no much difference.

The doc in docs.rs is v0.1, the CAS is implemented after v0.1. If you build the doc from master you would find it.
We haven't had enough staff to push forward client-rust for some time 😥.

[2022-01-25 06:18] #328 closed

[2022-01-26 12:19] pingyu commented on #313
Hi @ekexium , I would like to try to fix this issue, but I have two questions. Could you take a look and give me some advices ? Thanks~

1. The issue is leaded by TiKV server that breaks the loop when encounters an already locked key [here](https://github.com/tikv/tikv/blob/19f521896be77b6bf9ecc4eec3cecd3cd8004263/src/storage/txn/commands/acquire_pessimistic_lock.rs#L121-L123), with some other key

[2022-01-26 12:34] ekexium commented on #313
1. No. I think for most cases where the pessimistic lock requests fails, we should rollback the keys that has been locked. You may refer to how client-go does it. https://github.com/tikv/client-go/blob/50bafbb1e9b17948e5f2e71d4a3545f1a5211713/txnkv/transaction/txn.go#L675
2. Yeah it's basically what you said. I'd prefer to do it inside the `pessimistic_lock` function.

[2022-01-26 12:41] pingyu commented on #313
Got it, thanks~
I will have a try.

[2022-01-26 12:41] pingyu commented on #313
/assign

[2022-01-27 08:38] jiashiwen opened #331 "raw put bug"
hi
My app works fine with raw put, but when the program runs in daemon mode, the put function returns no value, including errors.

[2022-01-27 08:46] ekexium commented on #331
Could you provide more details? How did you use it?

[2022-01-28 09:12] pingyu commented on #313
@ekexium I tried to reproduce the issue but failed. Could you please take a look ? Thanks~

(Full codes [here](https://github.com/pingyu/client-rust/blob/c0adaae666859d1cbdeb362a09e7b16292d61612/examples/pessimistic.rs#L78-L89), and [diff](https://github.com/tikv/client-rust/compare/master...pingyu:pessimistic-lock-rollback#diff-4b2df9a11b611a5fa38c4448059732805b093d837d73fa6b24acc2353a2a4f4fR64))

[2022-01-28 09:50] ekexium commented on #313
Here is what I think: in the example the locking of the 3 keys are in the same request sent to the same region. TiKV finds it cannot lock key1, so TiKV returns an error and does not write anything for this request, which means the other 2 keys are not actually locked.

But the problem should exist if we lock keys that spread in different regions. To simulate the scenario, we can try make sure ther

[2022-02-07 08:48] jiashiwen opened #333 "transaction fail when I enable ttl"
thread 'main' panicked at 'Committing read-only transaction should not fail: MultipleKeyErrors([KeyError(KeyError { locked: None, retryable: "", abort: "Error(Other(\"[src/storage/mod.rs:1072]: can't sched txn cmd(prewrite) with TTL enabled\"))", conflict: None, already_exist: None, deadlock: None, commit_ts_expired: None, txn_not_found: None, commit_ts_too_large: None, assertion_failed: None })])

[2022-02-07 09:00] ekexium commented on #333
The TTL feature is only available for raw API. It cannot be used with transactions.

[2022-02-09 12:38] KaiserKarel opened #334 "WASM support"
With WASI, I think it should be possible to have the tikv client be compatible with the wasm32-wasi target. This might require changes to grpcio, and using rustls instead of openssl. Are there plans to eventually support this?

[2022-02-09 12:42] ekexium commented on #334
ping @andylokandy

[2022-02-10 07:18] andylokandy commented on #334
We're considering merging rust client into tikv server and providing http service. If done, HTTP should be more convenient than wasm client.

[2022-02-15 07:58] #333 closed

[2022-02-21 07:16] ekexium opened #336 "Custom backoffs for raw requests"
Transactional API can be configured with custom backoff strategies. We should support it for raw API as well.

[2022-02-22 07:48] #313 closed

[2022-02-22 08:18] pingyu opened #337 "Improve RetryableMultiRegion"
In #332, we add a parameter [`preserve_region_results`](https://github.com/tikv/client-rust/blob/74db41c3e5ed1899708215fc284a4673f179f6e7/src/request/plan.rs#L68-L71) to indicate that `RetryableMultiRegion` should return response from all regions, or raise the first Error if there is any.

As @andylokandy suggests, for lower module coupling, other than using a parameter to control behavior of `Ret

[2022-03-20 04:55] skyzh opened #340 "`Request::set_context` recurs infinitely"
https://github.com/tikv/client-rust/blob/74db41c3e5ed1899708215fc284a4673f179f6e7/tikv-client-store/src/request.rs#L41-L43

Is this expected... or a bug?

[2022-03-20 04:57] skyzh commented on #340
In https://github.com/tikv/client-rust/pull/339, I've set it to a no-op.

[2022-03-20 06:47] skyzh commented on #340
After some investigation, I think clippy is producing false warnings...

[code]

The kvrpcpb structs have some wrapper files in generated protos for `set_context`.

To avoid confusion, I've modified this to fully-quantified syntax:

[code]

[2022-03-20 06:54] #340 closed

[2022-04-07 18:38] stamp711 opened #344 "In `RegionCache`, concurrent calls to `get_region_by_id()` may get stuck?"
TL;DR: The tokio task waiting for others to finish retrieving a cache entry may block forever, because it registers its interest __after__ the other task notifies the waiters.

---
Refering to the following code, a task (call it task A) waiting for a concurrent task (call it task B) to finish retrieving a cache entry will:
1. clone a `Notify` from `on_my_way_id` (line 102)
2. release the region ca

[2022-05-02 14:44] tisonkun commented on #300
Closed as no more activities.

[2022-05-02 14:44] #300 closed

[2022-07-12 08:12] yongman opened #355 "Improve key_exists performance"
`key_exists` use `scan_keys` to implement the key exists of the key, and scan can not use the bloom filter and have more costs than `get` command.

[2022-07-13 07:08] yongpan0709 opened #356 "Need Prerequisites for compiling, avoiding failure or error in building"
It needs more details for gcc, cmake, Rust version before contributing to client-rust. There are some errors during compiling. For example,
1. error: failed to parse manifest at `/root/.cargo/registry/src/github.com-1ecc6299db9ec823/indexmap-1.9.1/Cargo.toml`
Caused by:
  failed to parse the `edition` key
Caused by:
  supported edition values are `2015` or `2018`, but `2021` is unknown

2. error:

[2022-07-14 06:25] #356 closed

[2022-07-15 03:09] iosmanthus opened #359 "Support KeySpace"
[KeySpace](https://github.com/tikv/rfcs/blob/master/text/0069-api-v2.md) is fundamental for transaction safety and multi-tenant features for TiKV. This is the tracking issue for the feature in client-rust. For tracking issues of other components, check:

* TiKV: https://github.com/tikv/tikv/issues/12999
* PD: https://github.com/tikv/pd/issues/5293
* client-go: https://github.com/tikv/client-go/iss

[2022-07-27 02:55] yongman commented on #355
Closed, pr https://github.com/tikv/client-rust/pull/360 already merged

[2022-07-27 02:55] #355 closed

[2022-08-10 20:39] tobiemh opened #362 "Building tikv-client for Windows (x86_64-pc-windows-gnu)"
Hi,

I'm trying to build a library (which uses tikv-client as a dependency). I've attempted to compile this library on Windows (in Github Actions), Ubuntu (in Github Actions), and macOS (locally), none of which are working.

The issue that I have is that `grpc-sys` is unable to build successfully.

On Windows I have tried with the default environment (which includes all of the necessary packages),

[2022-08-11 04:46] ekexium commented on #362
Thanks for the feedback. grpcio has been updated to 0.10 in master. Could you try that?
Does the second problem happen only on Windows?

[2022-08-11 07:44] tobiemh commented on #362
Hi @ekexium yes I saw this just after I posted the issue! I'm currently building off the master version, and it takes a lot longer (so I'm presuming that the C build works this time), but I get now this error:

[code]

This is when cross-compiling from macOS (macos on aarch64) to Windows (x86_64-pc-windows-gnu).

I'll go and test this in Ubuntu (Github Actions) now.

[2022-08-11 09:13] ekexium commented on #362
I tried a bit on my own linux. Seems to me cross compiling grpcio is difficult. There is a doc (it may be outdated) https://github.com/tikv/grpc-rs/blob/master/cross_compile.md

Maybe just try if it builds on Windows? If not, I suggest asking in [tikv/grpc-rs](https://github.com/tikv/grpc-rs).

[2022-08-11 10:26] tobiemh commented on #362
Hi @ekexium yeah I've looked at that doc - it's very outdated!

[2022-08-11 12:14] tobiemh commented on #362
Have created an issue for this problem in the tikv/grpc-rs repository: https://github.com/tikv/grpc-rs/issues/585

[2022-08-24 13:31] tobiemh opened #365 "New version release?"
Hi. I was wondering if there are any plans for publishing a new release at any time (which incorporates the changes from `grpcio-sys` crate).

Building the current `master` branch is far more reliable on many different platforms and when cross-compiling, and this would fix a number of issues when building a library which uses `tikv-client` dependency.

This is also related to #362

[2022-08-29 02:08] ekexium commented on #365
Sounds reasonable.
Hi @nrc , could you help add me as owners of the crates?

[2022-08-30 21:28] tobiemh opened #366 "Error with pessimistic transactions"
When using pessimistic transactions, the following issues arise:

1. Running multiple successful, sequential, pessimistic transactions inside a single application invocation works fine.
2. Running the invocation for a second time, once the first invocation has finished, results in `Error: PessimisticLockError { inner: ResolveLockError, success_keys: [] }` errors.
3. TiKV is left in an incorrect st

[2022-08-31 07:18] ekexium commented on #366
Thanks for the report! I think it's something wrong with the backoff mechanism.

[2022-09-07 08:06] bxq2011hust opened #369 "raft entry is too large, region 2, entry size 12014018"
Write ut in rust client, put 10240 kv pairs in one txn, the value is random bytes and length is 10240, the key is `format!("key_________________________{}", j)` which j is index in `0..10240`, commit the txn failed. the error message is

[code]

I run the same ut in c-client, it works fine, I guess the reason is rust client does not split kv pairs into batches in the same region?

[2022-09-07 08:09] ekexium commented on #369
Yes. It should be improved.

[2022-10-12 02:09] wfxr commented on #365
Same issue. Current version 0.1.0 cannot compile on latest archlinux. Can you help release a new version? @nrc @andylokandy @sunxiaoguang

[2022-10-28 06:43] bxq2011hust opened #371 "gRPC error: RpcFailure: 4-DEADLINE_EXCEEDED Deadline Exceeded"
I deploy a TiKV cluster which is consist of 3 TiKV and 3 PD without TiDB instance, and set `resource_control.memory_limit = 8G`. After a period of operation, I will often get `gRPC error: RpcFailure: 4-DEADLINE_EXCEEDED Deadline Exceeded` when committing secondary keys or getting KV from tikv, and the timeout of the request will be likely to last for some time. Why does this happen？Should I call t

[2022-10-28 07:19] ekexium commented on #371
Well I can't tell the reason based on your information. And this is not the best place to discuss the usage of TiKV. Could you ask a question in AskTUG? You could also describe your workload/opeartions and had better provide the metrics of your cluster. I suppose someone there could help you.

[2022-10-28 07:51] bxq2011hust commented on #371
ok, thanks

[2022-10-28 08:21] #371 closed

[2022-10-28 10:06] guoxiangCN opened #372 "[Perfomance] The performance problem of scan method is slightly worse"
Use the same KeyRange and count to scan the same tikv by client-go and client-rust
When scanning, there is a big difference in the time consumption between the two

[2022-10-28 10:22] yongman commented on #372
There is already a pull request for scan optimization, https://github.com/tikv/client-rust/pull/368 you can test it if you want.

[2022-10-31 07:25] guoxiangCN commented on #372
ok, i will try it. But why doesn't trust client provide an iter interface similar to goclient, which can iterate data incrementally. Scan must specify the number. It cannot completely traverse all the keys in a KeyRange. If count is very likely, oom?

[2022-10-31 09:14] Doslin opened #373 "How to set the ttl of a key using the raw api"
How to set the ttl of a key using the raw api

[2022-11-03 01:11] chaochaoyuyu19880105 opened #374 "BatchGet with tokio::spawn test error the trait `std::marker::Send` is not implemented for `dyn Iterator<Item = tikv_client::Key>`"
test code
[code]

error:

error: future cannot be sent between threads safely
   --> src/store/src/tikv/mod.rs:118:9
    |
118 |         tokio::spawn(async {
    |         ^^^^^^^^^^^^ future created by async block is not `Send`
    |
    = help: the trait `std::marker::Send` is not implemented for `dyn Iterator<Item = tikv_client::Key>`
note: future is not `Send` as this value is used across an a

[2022-11-04 03:42] #372 closed

[2022-11-15 13:03] helloimalastair opened #375 "TTL Support for Raw/Transactional Clients"
Similar to #373.

According to [the docs](https://tikv.org/docs/6.1/concepts/explore-tikv-features/ttl/), TiKV, and the Java client specifically, have the ability to apply TTLs to `put` actions, so that keys expire after a certain amount of time.

At the moment, the `rust-client` does not support this, as it is not available on either the Raw or Transactional clients, nor is it available on the Tr

[2022-11-28 10:42] jansu-dev opened #376 "appear segmentfault when calling current_timestamp()"
background :
1. i'm learning BR of TiDB, and use tikv-client to get TSO.
2. however, when i used example of `pd.current_timestamp` to do, i got an error.

help info :
1. you can access my code at [segmentfault path](https://github.com/jansu-dev/mbr/blob/2e15b348665d0db010fef441dc0ec4a568dbe9f7/components/pd_client/src/lib.rs#L17), and run `cargo run -- backup table -t 123 -s ./ ` to reproduce the